@import "tailwindcss";

:root {
  --background: #86ebde;
  --foreground: #0d2a5e;

  --fennel-tea: #dafee7;
  --seafair-green: #b2f9de;
  --turquoise-chalk: #86ebde;
  --skink-blue: #59c0cf;
  --taiwan-blue-magpie: #2e75a2;
  --blue-leviathan: #0d2a5e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-fennel-tea: var(--fennel-tea);
  --color-seafair-green: var(--seafair-green);
  --color-turquoise-chalk: var(--turquoise-chalk);
  --color-skink-blue: var(--skink-blue);
  --color-taiwan-blue-magpie: var(--taiwan-blue-magpie);
  --color-blue-leviathan: var(--blue-leviathan);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d2a5e;
    --foreground: #86ebde;
  }
}

body {
  @apply bg-[var(--color-background)] text-[var(--color-foreground)] font-sans leading-relaxed antialiased;
}

section {
  @apply  mx-auto my-16  p-8 rounded-2xl bg-[var(--color-fennel-tea)] shadow-md border border-[var(--color-seafair-green)] w-10/12;
}

h2 {
  @apply text-4xl font-extrabold mb-6 text-[var(--color-taiwan-blue-magpie)] border-b-2 border-[var(--color-skink-blue)] pb-2;
}

h3 {
  @apply text-2xl font-semibold mt-10 mb-4 text-[var(--color-taiwan-blue-magpie)];
}

p {
  @apply text-lg mb-8 text-[var(--color-blue-leviathan)];
}

a {
  @apply text-[var(--color-skink-blue)] underline font-medium hover:text-[var(--color-taiwan-blue-magpie)];
}

ul {
  @apply list-disc pl-6 space-y-3 mb-8 text-[var(--color-blue-leviathan)];
}

li {
  @apply text-base leading-relaxed marker:text-[var(--color-skink-blue)];
}

section:hover {
  @apply bg-[var(--color-seafair-green)] transition-colors duration-300;
}

a {
  display: block;
}