@import "tailwindcss";

:root {
  --background-primary: #C9F6FF; /* water */
  --background-secondary: #97EBF4; /* Winter Wizard */
  --background-tertiary: #7AE5F5; /* Medium Sky Blue */
  --foreground-primary: #35D6ED; /* Turquoise */
  --foreground-secondary: #65DDEF; /* Crayola’s Sky Blue  */
  --foreground-tertiary: #7AE5F5; /* Medium Sky Blue  */
}

@theme inline {
  --color-background: var(--background-primary);
  --color-foreground: var(--foreground-primary);
}

h1{

}

header{
  display: flex;
  flex-direction: column;
  background: var(--background-primary);
  color: var(--foreground-primary);
  justify-content: center;
  align-items: center;
}

hgroup{
  display: flex;
  flex-direction: column;
  background: var(--background-primary);
  color: var(--foreground-primary);
  justify-content: center;
  align-items: center;
}

body {
  background: var(--background-primary);
  color: var(--foreground-primary);
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
}